*{
	position: relative;
	z-index: 1;
	margin: 0;
	padding: 0;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	user-select: none;
	font-size: 20px
}

*:focus{
	-webkit-tap-highlight-color: rgba(0,0,0,0)
}